/* DESKTOP LAYOUT */
@font-face{
    font-family:cave;
    src:url(../fonts/cave.ttf);
}
@media only screen and (min-width:501px) {
    body {
        width:100%; 
        background-image: url(image/background.png);
    }
    h2,h3 {
        font-family: cave;
        font-size: 10pt;
        color: black;
        text-shadow:0px 0px 20px purple;
        text-align: center;
    }
    h4 {
        font-family: cave;
        font-size: 10pt;
        color: black;
        text-shadow:0px 0px 20px purple;
    }
    #inte {
        display:block;
        width: 100%;
        font-family: cave;
        font-size: 7pt;
        color: black;
        text-shadow:0px 0px 20px purple;
        text-align: center;

    }
    #exer {
        display:block;
        width: 25%;
        float:left;
        margin-left: 10%;
        margin-right:10%;

    }
    #proj {
        width: 25%;
        display:inline-block;
        margin-left: 10%;
        margin-right:10%;
    }
    #summ {
        display:block;
        float:left;
        width: 70%;
        float:left;
    }
    ol {
        display:block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu';
        font-size: 14pt;
        font-family:
    }
    ul {

        display:block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu';
        font-size: 16pt;
    }
    #about {
        clear:both;
        width: 100%;
        padding-top: 50px;
        font-family: cave;
        font-size: 12pt;
        color: black;
        text-shadow:0px 0px 20px purple;
        text-align: center;
    }

    p#intro {
        width: 90%;
        padding:1%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu'; 
        font-size: 16pt;
        text-align: center;
    }
    p#question {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu'; 
        font-weight: 700;
        font-size: 20pt;
        text-align: center;
    }
    p#answer {
        width: 90%;
        padding-right:2%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu'; 
        font-size: 16pt; 
    }
    img#DCM {
        display:block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    img#rnc {
        width:30%;
        margin-left: auto;
        margin-right: auto;
    }
    img#dcf {
        width:95%;
    }
    footer {
        width:100%;
        position: relative;
    }
    #link {
        display:block;
        width: 70%;
        font-family: 'Ubuntu';
        font-size: 1.25vw;
        position: absolute;
        left:35%;
        bottom: .50px;   
    }
}
/* MOBILE LAYOUT */
@font-face{
    font-family:cave;
    src:url(../fonts/cave.ttf);
}
@media only screen and (max-width:500px) {
    body {
        width:100%; 
        background-image: url(image/background.png);
    }
    h1,h2,h3,h4 {
        display:block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-family: cave;
        font-size: 8pt;
        color: black;
        text-shadow:0px 0px 20px purple;
        text-align: center;
    
    }
    ol {
        display:block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu';
        font-size: 12pt;
        font-family:
    }
    ul {

        display:block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu';
        font-size: 12pt;
    }
    p{
        display:block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;Padding-left: 2%;
        Padding-Right:2%;
        font-family: ubuntu;
        font-size: 12pt;
        text-align: center;
    }
    #about {
        width:95%;
        padding-bottom: 15px;

    }
    p#question {
        display:block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu'; 
        font-weight: 700;
        font-size: 14pt;
        text-align:center;
    }
    img#DCM {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    img#rnc {
        display:block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2%;
    }
    img#dcf {
        width:95%;
    }
    #link {
        display:block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Ubuntu';
        font-size: 8pt;
        text-align: center

    }
}
