/* MOBILE LAYOUT */
@font-face{
    font-family:cave;
    src:url(../fonts/cave.ttf);
}
@media only screen and (max-width:500px) {
    body {
        width:95%;
        padding-left: 5%;
        padding-right: 5%;
        background-image: url(image/background.png);
    }
    img {
        width:95%;
        padding-left: 2%;
        padding-right: 2%;
    }
    h1,h2,h3,h4 {
        width:95%;
        font-family: cave;
        font-size: 8pt;
        color: black;
        text-shadow:0px 0px 20px purple;
    }
    h5 {
        width:95%;
        font-size: 15pt;
        font-family: 'Ubuntu';
        font-size: 15pt;
    }

    ol {
        width:95%;
        font-family: 'Ubuntu';
        font-size: 12pt;
        font-family:
    }
    ul {
        width:95%;
        font-family: 'Ubuntu';
        font-size: 12pt;
    }
    p{
        width: 95%;
        Padding-left: 2%;
        Padding-Right:2%;
        font-family: ubuntu;
        font-size: 12pt;
    }
    #about {
        width:95%;
        padding-bottom: 15px;

    }
    p#question {
        width:95%;
        font-family: 'Ubuntu'; 
        font-weight: 700;
        font-size: 14pt;
    }
    img#rnc {
        width: 80%;
    }
    img#dcf {
        width:95%;
        color: white;
    }
    #link {
        text-align: center;
        width: 70%;
        font-family: 'Ubuntu';
        font-size: 6pt;
        position:relative;
        left: 20px;
    }
}
/* DESKTOP LAYOUT */
@font-face{
    font-family:cave;
    src:url(../fonts/cave.ttf);
}
body {
    width:100%;
    background-image: url(image/background.png);
}
img {
    width:95%;
    padding-left: 2%;
    padding-right: 2%;
}
h1,h2,h3,h4 {
    width:95%;
    font-family: cave;
    font-size: 8pt;
    color: black;
    text-shadow:0px 0px 20px purple;
}
h5 {
    width:95%;
    font-size: 15pt;
    font-family: 'Ubuntu';
    font-size: 15pt;
}

ol {
    width:95%;
    font-family: 'Ubuntu';
    font-size: 12pt;
    font-family:
}
ul {
    width:60%;
    font-family: 'Ubuntu';
    font-size: 12pt;
}
p{
    width: 95%;
    Padding-left: 2%;
    Padding-Right:2%;
    font-family: ubuntu;
    font-size: 12pt;
}

}
#about {
    width:60%;
    padding-bottom: 15px;

}
p#question {
    width:60%;
    font-family: 'Ubuntu'; 
    font-weight: 700;
    font-size: 14pt;
}
p#answer {
    width:60%;
    font-family: 'Ubuntu'; 
    font-size: 14pt;
} 
img#rnc {
    display:inline;
    width: 25%;
}
img#dcf {
    width:95%;
    color: white;
}
#link {
    text-align: center;
    width: 70%;
    font-family: 'Ubuntu';
    font-size: 6pt;
    position:relative;
    left: 20px;
}
