/* IMAC SCREENS 2560 x 1440 */
img#home {
    width:70px;
    position:relative;
    left:190px;
    top:203px;  
}

img#bio {
    width:70px;
    position:absolute;
    left:197px;
    top:307px;  
}

img#gra {
    width:70px;
    position:absolute;
    left:197px;
    top:405px;  
}
img#std {
    width:70px;
    position:absolute;
    left:197px;
    top:503px;  
}

img#con {
    width:70px;
    position:absolute;
    left:197px;
    top:600px;  
}

section {
    width: 75%;
    position:absolute;
    left: 400px;
    top: 300px;
}

#lower {
    width: 45%;
    position:absolute;
    left: 700px;
    top: 600px;
}

footer {
    width: 100%;
    position: relative;
    left: 700px;
    top: 650px;
}
