@font-face{
    font-family:bones;
        src:url(../fonts/bones1.ttf);
}
@font-face{
    font-family:bone2;
        src:url(../fonts/bones2.otf);
}
@font-face{
    font-family:body1;
        src:url(../fonts/gsl.ttf);
}
body {
    background-color:azure;
    width:100%;
    padding-bottom: 10%;
}

img {
    width:100%; 
}
   
h1 {
    width: 100%;
    --------------------------------LEADING;
    font-family: bones;
    font-size: 7em;
    color: firebrick;
    text-align: center;
}

h3 {
    width:100%;
    padding-bottom: 3%;
    font-family: monospace;
    font-size: 3em;
    color: crimson;
    text-align: center;
}
p {
    width: 85%;
    margin-left: 7%;
    text-indent: 2em;
    font-family: sans-serif;
    font-size: 1.75em;
    color: black;
    line-height: 1.5;
    text-align: justify   
}

h4 {
    width: 100%;
    font-family:bone2;
    font-size: 3.75em;
    line-height: 0;
    color:crimson;
    text-align: center
}
h5 {
    width: 100%;
    font-family:sans-serif;
    font-size:.9em;
    color: darkslateblue;
    text-align:center;
    margin-left: 1%;
}
   img#spacer {
    width: 5%;
    padding: 4%;
    margin-left: 45%;     
}

img#Octet {
    width: 65%;
    margin-top: 3%;
    border-color: black;
    border-width: medium;
    border-style: solid;
    margin-left: 16%;
}

h2 {
    width: 100%;
    padding-top: 3%;
    font-family:monospace;
    font-size:2em;
    color: darkslateblue;
   text-decoration: underline;
    text-align: center
}
p#p2 {
    width: 100%;
    margin-left: 1%;
    font-family: monospace;
    font-size:1.5em;
    line-height: .25;
    color: darkslateblue;
    text-align: left
}    

p#p3 {
    width: 100%;
    font-family: monospace;
    font-size:1.5em;
    line-height: .25;
    color: darkslateblue;
    text-align: left
}    