/* IMAC SCREENS 2560 x 1440 */
img#home {
    width:70px;
    position:relative;
    left:190px;
    top:203px;  
}

img#bio {
    width:70px;
    position:absolute;
    left:197px;
    top:307px;  
}

img#gra {
    width:70px;
    position:absolute;
    left:197px;
    top:405px;  
}
img#std {
    width:70px;
    position:absolute;
    left:197px;
    top:503px;  
}

img#con {
    width:70px;
    position:absolute;
    left:197px;
    top:600px;  
}

img#sign {
    width:70%;
    padding-bottom: 25px;
    position: relative;
    top: -40px;
    left: 450px
}

section {
    width: 80%;
    position:relative;
    left: 350px;
}

img#time {
    width: 65%;
    position:relative;
    left: 45px;
    border-color: black;
    border-width: medium;
    border-style: solid;
    box-shadow:10px 15px 50px black;
}
img#know {
    height: 700px;
    position: absolute;
    top: -10px;
    right: 90px;
}

#lower {
    width: 45%;
    position:absolute;
    left: 900px;
    top: 560px;
}

footer {
    width: 75%;
    position:relative;
    left: 250px;
}
